.img-top-right {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1;
}

.custom-highlight {
    color: #000;
    background-color: white;
    font-style: normal;
    border-radius: 10px;
    padding: 25px;
    font-family: menlo, monospace;
}

.blacktext-slide {
    color: #000;
}

.blacktext-slide h1, .blacktext-slide h2, .blacktext-slide h3, .blacktext-slide h4, .blacktext-slide h5, .blacktext-slide h6 {
    color: #000 !important;
}

.topLeftImg {
    max-height: 2em;
    max-width: none;
}

.topLeftDiv {
    position: fixed; 
    top: 20px; 
    left: 
    20px; 
    z-index: 1;
}

.bottomLeftDiv {
    position: fixed; 
    bottom: 20px; 
    left: 20px; 
    z-index: 1;
    color: #bd0;
}

.top-bg-img {
    background-position: top center !important;
}

.reveal section img {
    border: none;
}

.invert-slide h1, .invert-slide h2, .invert-slide h3, .invert-slide h4, .invert-slide h5, .invert-slide h6 {
    background-color: #111;
    padding: .3em;
} 

.invert-slide ul {
    background-color: #111;
    padding: .3em;  
}  
